PORT=3000
NODE_ENV=development
MYSQL_URL=mysql://user:password@localhost:3306/sims_ppob
JWT_SECRET=your_jwt_secret_key_minimum_32_characters
JWT_EXPIRES_IN=12h
UPLOAD_DIR=uploads

# Railway Production
# MYSQL_URL is automatically set to the private network URL by Railway
# e.g. mysql://user:pass@mysql.railway.internal:3306/railway
RAILWAY_ENVIRONMENT=production